.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.unorderedList{
    width: 80vw;
    height: 28vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid green;
}
.listingQuote{
    font-family: cursive;
    font-weight: 400;
    font-size: 50px;
    margin-left: 20px;

}
.listingAuthor{
    font-family: cursive;
    font-size: 20px;
}